* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  position: relative;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.main {
  position: relative;
  background-color: rgba(255, 208, 0, 0.87);
  text-align: center;
  width: 370px;
  border-radius: 0.7rem;
}

.pokemon__basic {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.pokemon__header {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.pokemon__hp {
  display: flex;
}

.pokemon_img {
  width: 85%;
  height: 200px;
  object-fit: cover;
  background-color: #eee;
  border-radius: 0.7rem;
  border: silver 5px solid;
  filter: drop-shadow(5px 5px 5px rgb(48, 48, 48));
}

.pokemon__stats {
  display: inline-block;
  width: 83%;
  background-color: orangered;
  border: goldenrod 3px solid;
  filter: drop-shadow(5px 5px 5px goldenrod);
  transform: skewX(10deg);
}

span {
  padding-right: 10px;
}
.pokemon__moves {
  position: relative;
  padding: 1px 30px 4px 30px;
  text-align: left;
  padding-top: 10px;
}

.pokemon__row {
  display: flex;
  /* justify-content: space-around; */
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(48, 48, 48);
}

.move__text {
  display: inline-block;
  width: 230px;
}

.move__icon {
  display: inline-block;
  width: 50px;
}
.move__dmg {
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
}

.pokemon__bar {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.hidden {
  display: none;
}

/* Add a black background color to the top navigation bar */
.search {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-items: center;
  background-color: rgba(255, 208, 0, 0.87);
  margin-bottom: 20px;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Style the search box inside the navigation bar */
.search input[type='text'] {
  padding: 6px;
  border: none;
  margin-left: 16px;
  font-size: 17px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 12px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  margin-top: 20px;
  margin-bottom: 2px;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 12px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
