* {
  background-color: grey;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 10vw;
  transition: 500ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 8vw;
}

.result-score {
  margin-left: 1rem;
  font-size: 1 vw;
  color: #333;
}

.results-selection {
  opacity: 0.3;
}

.results-selection.winner {
  opacity: 1;
  font-size: 2rem;
}
